main{
    position: absolute;
    background-color: #cfc19e;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 100vh;
    width: 1000px;
    border: solid #ffffff;
}

.caja1{
    position: relative;
    background-color: black;
    top: 30px;
    bottom: 0px;
    width: 200px;
    height: 350px;
    right: 60px;
    left: 20px;
    border: solid blue;
}

.caja2{
    position: absolute;
    background-color: aqua;
    top: 30px;
    bottom: 0px;
    width: 200px;
    height: 150px;
    right: 500px;
    left: 380px;
    border: solid blue;

}

.caja3{
    position: absolute;
    background-color: bisque;
    top: 30px;
    bottom: 0px;
    width: 200px;
    height: 150px;
    right: 600px;
    left: 600px;
    border: solid blue;   
}