main{
    background-color: #cfc19e;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: 100vh;
    width: 1000px;
    border: solid #ffffff;
}

.caja1{
    position: absolute;
    background-color: black;
    top: 30px;
    bottom: 0px;
    width: 200px;
    height: 500px;
    right: 60px;
    left: 200px;
    border: solid 20px;

}

.caja2{
    position: absolute;
    background-color: blue;
    top: 30px;
    bottom: 0px;
    width: 200px;
    height: 200px;
    right: 700px;
    left: 200px;
    border: solid 20px;

}